<section data-ng-controller="HomeController">
	<br>
	<div data-ng-controller="ProductsController" data-ng-init="find()">
	<!--<div class="col-xs-12" style="background-color: gray;">
		<div class="col-xs-2">
			<!--<button><span class="glyphicon glyphicon-plus"></span></button></p>-->
			<!--<a href="#" class="button">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
		<div class="col-xs-10">
			<h3><center>Add Content</center></h3>
		</div>
		</div>-->
	<div class="well">
		<center><h2>Testing</h2></center>
	</div>
	<div>
		<div class="list-group">
			<a data-ng-repeat="product in products" data-ng-href="#!/products/{{product._id}}" class="list-group-item">
			
				<small class="list-group-item-text">
					Posted on
					<span data-ng-bind="product.created | date:'medium'"></span>
					by
					<span data-ng-bind="product.user.displayName"></span>
				</small>
				<h4 class="list-group-item-heading" data-ng-bind="product.name"></h4>
			
			</a>
		</div>
	</div>
</section>